body{
  background-color: white;
}

img{
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title {
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
    width: 600px;}
.lang{  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px

}
